# Best Location to Open Coffee Shop in Singapore
### Applied Data Science - Capstone Project by Ben Sung
### July 31, 2019

- Explore and cluster the neighborhoods in Singapore
- Extract data of districts/areas of Singapore through scrapping from internet 
- Perform analysis based on the data for the information in the district/areas
- Provide maps to visualize neighborhoods and their clustering for insights of the district/areas
- Conclude the best shop location to open in Singapore

In [3]:
# !pip install folium
# !conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
# !conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab

import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

import folium # map rendering library

print('Libraries imported.')

Libraries imported.

In [4]:
!pip install bs4
import requests
from urllib.request import urlopen
from bs4 import BeautifulSoup
import ssl
import csv

Collecting bs4
  Downloading https://files.pythonhosted.org/packages/10/ed/7e8b97591f6f456174139ec089c769f89a94a1a4025fe967691de971f314/bs4-0.0.1.tar.gz
Requirement already satisfied: beautifulsoup4 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from bs4) (4.7.1)
Requirement already satisfied: soupsieve>=1.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from beautifulsoup4->bs4) (1.7.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Stored in directory: /home/dsxuser/.cache/pip/wheels/a0/b0/b2/4f80b9456b87abedbc0bf2d52235414c3467d8889be38dd472
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1

In [147]:
# SSL certification
# ctx = ssl.create_default_context()
# ctx.check_hostname = False
# ctx.verify_mode = ssl.CERT_NONE

source = requests.get('http://www.citypopulation.de/Singapore-Regions.html').text
soup = BeautifulSoup(source, 'html5lib')

In [148]:
table = soup.find('table', id="ts")
table_rows = table.find_all('tr')

In [149]:
dataExtracted = []
for row in table_rows:
    dataExtracted.append([t.text.strip() for t in row.find_all('td')])

In [150]:
df = pd.DataFrame(dataExtracted)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 9 columns):
0    34 non-null object
1    34 non-null object
2    34 non-null object
3    34 non-null object
4    34 non-null object
5    34 non-null object
6    34 non-null object
7    34 non-null object
8    34 non-null object
dtypes: object(9)
memory usage: 2.5+ KB

In [151]:
df.head()

      0            1     2        3        4        5        6     7     8
0  None         None  None     None     None     None     None  None  None
1         Ang Mo Kio    NE  180,112  179,297  174,770  165,710  1340     →
2              Bedok     E  284,318  294,519  289,750  281,300  2160     →
3             Bishan     C   89,746   91,298   90,700   88,490   740     →
4        Bukit Batok     W  126,200  144,198  139,270  144,410  1100     →

In [152]:
df.rename(columns={0:"Drop1", 1:"Neighborhood", 2:"Drop2", 3:"Drop3", 4:"Drop4", 5:"Drop5", 6:"Population", 7:"Drop6", 8:"Drop7"}, inplace=True)
df.drop(['Drop1', 'Drop2', 'Drop3', 'Drop4', 'Drop5', 'Drop6', 'Drop7'], axis=1, inplace=True)
df.drop([0], axis=0)
df.drop([0], axis=0, inplace=True)
df

                 Neighborhood Population
1                  Ang Mo Kio    165,710
2                       Bedok    281,300
3                      Bishan     88,490
4                 Bukit Batok    144,410
5                 Bukit Merah    151,870
6               Bukit Panjang    140,820
7                 Bukit Timah     77,280
8                      Changi      2,080
9               Choa Chu Kang    187,510
10                   Clementi     93,000
11                    Geylang    111,610
12                    Hougang    223,010
13                Jurong East     81,180
14                Jurong West    266,720
15                    Kallang    101,420
16              Marine Parade     47,250
17                     Newton      7,640
18                     Novena     48,950
19                     Outram     20,030
20                  Pasir Ris    146,920
21                    Punggol    161,570
22                 Queenstown     97,870
23               River Valley      9,930
24                     Rochor     13,450
25                  Sembawang     87,380
26                   Sengkang    240,640
27                  Serangoon    117,310
28  Singapore (Downtown Core)      2,510
29            Singapore River      2,980
30                   Tampines    257,110
31                    Tanglin     20,960
32                  Toa Payoh    120,480
33                  Woodlands    252,530
34                     Yishun    214,940

In [153]:
df.sort_values(by=['Population'], ascending=False, inplace=True)
df

                 Neighborhood Population
22                 Queenstown     97,870
10                   Clementi     93,000
23               River Valley      9,930
3                      Bishan     88,490
25                  Sembawang     87,380
13                Jurong East     81,180
7                 Bukit Timah     77,280
17                     Newton      7,640
18                     Novena     48,950
16              Marine Parade     47,250
2                       Bedok    281,300
14                Jurong West    266,720
30                   Tampines    257,110
33                  Woodlands    252,530
26                   Sengkang    240,640
12                    Hougang    223,010
34                     Yishun    214,940
31                    Tanglin     20,960
19                     Outram     20,030
29            Singapore River      2,980
28  Singapore (Downtown Core)      2,510
8                      Changi      2,080
9               Choa Chu Kang    187,510
1                  Ang Mo Kio    165,710
21                    Punggol    161,570
5                 Bukit Merah    151,870
20                  Pasir Ris    146,920
4                 Bukit Batok    144,410
6               Bukit Panjang    140,820
24                     Rochor     13,450
32                  Toa Payoh    120,480
27                  Serangoon    117,310
11                    Geylang    111,610
15                    Kallang    101,420

In [154]:
# Get the Top 10 most populous neighborhoods
df.drop([22,10,23,3,25,13,7,17,18,16,31,19,29,28,8,5,20,4,6,24,32,27,11,15], axis=0, inplace=True)
df

     Neighborhood Population
2           Bedok    281,300
14    Jurong West    266,720
30       Tampines    257,110
33      Woodlands    252,530
26       Sengkang    240,640
12        Hougang    223,010
34         Yishun    214,940
9   Choa Chu Kang    187,510
1      Ang Mo Kio    165,710
21        Punggol    161,570

In [72]:
df.dtypes

Neighborhood    object
Population      object
dtype: object

In [80]:
df[["Population"]] = df[["Population"]].apply(pd.to_numeric, errors='coerce')
df.dtypes

Neighborhood     object
Population      float64
Populatoin      float64
dtype: object

In [81]:
df

                 Neighborhood  Population  Populatoin
22                 Queenstown         NaN         NaN
10                   Clementi         NaN         NaN
23               River Valley         NaN         NaN
3                      Bishan         NaN         NaN
25                  Sembawang         NaN         NaN
13                Jurong East         NaN         NaN
7                 Bukit Timah         NaN         NaN
17                     Newton         NaN         NaN
18                     Novena         NaN         NaN
16              Marine Parade         NaN         NaN
2                       Bedok         NaN         NaN
14                Jurong West         NaN         NaN
30                   Tampines         NaN         NaN
33                  Woodlands         NaN         NaN
26                   Sengkang         NaN         NaN
12                    Hougang         NaN         NaN
34                     Yishun         NaN         NaN
31                    Tanglin         NaN         NaN
19                     Outram         NaN         NaN
29            Singapore River         NaN         NaN
28  Singapore (Downtown Core)         NaN         NaN
8                      Changi         NaN         NaN
9               Choa Chu Kang         NaN         NaN
1                  Ang Mo Kio         NaN         NaN
21                    Punggol         NaN         NaN
5                 Bukit Merah         NaN         NaN
20                  Pasir Ris         NaN         NaN
4                 Bukit Batok         NaN         NaN
6               Bukit Panjang         NaN         NaN
24                     Rochor         NaN         NaN
32                  Toa Payoh         NaN         NaN
27                  Serangoon         NaN         NaN
11                    Geylang         NaN         NaN
15                    Kallang         NaN         NaN

In [77]:
df['Population'] = df['Population'].apply(lambda x: pd.to_numeric(x.astype(object).str.replace(',',''), errors='coerce'))
df.dtypes

AttributeError: 'str' object has no attribute 'astype'

In [70]:
df['Population'] = df['Population'].apply(lambda x: pd.to_numeric(x.astype(str).str.replace(',',''), errors='coerce'))

AttributeError: 'str' object has no attribute 'astype'

In [54]:
df1.dtypes

Neighborhood    float64
Population        int64
dtype: object

In [71]:
pd.to_numeric(df1['Population'])
df1.dtypes

Neighborhood    float64
Population        int64
dtype: object

In [56]:
df1.sort_values(by=['Population'], inplace=True)
df1

    Neighborhood  Population
8            NaN        2080
28           NaN        2510
29           NaN        2980
17           NaN        7640
23           NaN        9930
24           NaN       13450
19           NaN       20030
31           NaN       20960
16           NaN       47250
18           NaN       48950
7            NaN       77280
13           NaN       81180
25           NaN       87380
3            NaN       88490
10           NaN       93000
22           NaN       97870
15           NaN      101420
11           NaN      111610
27           NaN      117310
32           NaN      120480
6            NaN      140820
4            NaN      144410
20           NaN      146920
5            NaN      151870
21           NaN      161570
1            NaN      165710
9            NaN      187510
34           NaN      214940
12           NaN      223010
26           NaN      240640
33           NaN      252530
30           NaN      257110
14           NaN      266720
2            NaN      281300

                 Neighborhood Population
15                    Kallang    101,420
11                    Geylang    111,610
27                  Serangoon    117,310
32                  Toa Payoh    120,480
24                     Rochor     13,450
6               Bukit Panjang    140,820
4                 Bukit Batok    144,410
20                  Pasir Ris    146,920
5                 Bukit Merah    151,870
21                    Punggol    161,570
1                  Ang Mo Kio    165,710
9               Choa Chu Kang    187,510
8                      Changi      2,080
28  Singapore (Downtown Core)      2,510
29            Singapore River      2,980
19                     Outram     20,030
31                    Tanglin     20,960
34                     Yishun    214,940
12                    Hougang    223,010
26                   Sengkang    240,640
33                  Woodlands    252,530
30                   Tampines    257,110
14                Jurong West    266,720
2                       Bedok    281,300
16              Marine Parade     47,250
18                     Novena     48,950
17                     Newton      7,640
7                 Bukit Timah     77,280
13                Jurong East     81,180
25                  Sembawang     87,380
3                      Bishan     88,490
23               River Valley      9,930
10                   Clementi     93,000
22                 Queenstown     97,870

In [45]:
df.dtypes

Neighborhood    object
Population      object
dtype: object

In [16]:
dfNeigh.rename(columns={ 'Postal district':'Postal Code',
                         'Postal sector':'Borough',
                         'General location':'Neighbourhood'}, inplace=True)
dfNeigh.head()

,Postal Code,Borough,Neighbourhood
1,01,"01, 02, 03, 04, 05, 06","Raffles Place, Cecil, Marina, People's Park"
2,02,"07, 08","Anson, Tanjong Pagar"
3,03,"14, 15, 16","Bukit Merah, Queenstown, Tiong Bahru"
4,04,"09, 10","Telok Blangah, Harbourfront"
5,05,"11, 12, 13","Pasir Panjang, Hong Leong Garden, Clementi New..."

In [17]:
# dfCombined = dfNeigh.groupby('Postal Code').agg(lambda x: ','.join(x))
# dfCombined.head(10)

In [18]:
# dfCombined.loc[dfCombined['Neighbourhood']=="Not assigned",'Neighbourhood'] = dfCombined.loc[dfCombined['Neighbourhood']=="Not assigned",'Borough']
# dfCombined.head(10)

In [19]:
# Reset the index
# dfFinal = dfCombined.reset_index()
# Remove the duplicate boroughs
# dfFinal['Borough']= dfFinal['Borough'].str.replace('nan|[{}\s]','').str.split(',').apply(set).str.join(',').str.strip(',').str.replace(",{2,}",",")
# dfFinal.head(10)

In [21]:
dfNeigh.shape

(28, 3)

In [27]:
dfNeigh

,Postal Code,Borough,Neighbourhood
1,01,"01, 02, 03, 04, 05, 06","Raffles Place, Cecil, Marina, People's Park"
2,02,"07, 08","Anson, Tanjong Pagar"
3,03,"14, 15, 16","Bukit Merah, Queenstown, Tiong Bahru"
4,04,"09, 10","Telok Blangah, Harbourfront"
5,05,"11, 12, 13","Pasir Panjang, Hong Leong Garden, Clementi New..."
6,06,17,"High Street, Beach Road (part)"
7,07,"18, 19","Middle Road, Golden Mile"
8,08,"20, 21","Little India, Farrer Park, Jalan Besar, Lavender"
9,09,"22, 23","Orchard, Cairnhill, River Valley"
10,10,"24, 25, 26, 27","Ardmore, Bukit Timah, Holland Road, Tanglin"
11,11,"28, 29, 30","Watten Estate, Novena, Thomson"
12,12,"31, 32, 33","Balestier, Toa Payoh, Serangoon"
13,13,"34, 35, 36, 37","Macpherson, Braddell"
14,14,"38, 39, 40, 41","Geylang, Eunos"
15,15,"42, 43, 44, 45","Katong, Joo Chiat, Amber Road"
16,16,"46, 47, 48","Bedok, Upper East Coast, Eastwood, Kew Drive"
17,17,"49, 50, 81","Loyang, Changi"
18,18,"51, 52","Simei, Tampines, Pasir Ris"
19,19,"53, 54, 55, 82","Serangoon Garden, Hougang, Punggol"
20,20,"56, 57","Bishan, Ang Mo Kio"
21,21,"58, 59","Upper Bukit Timah, Clementi Park, Ulu Pandan"
22,22,"60, 61, 62, 63, 64","Jurong, Tuas"
23,23,"65, 66, 67, 68","Hillview, Dairy Farm, Bukit Panjang, Choa Chu ..."
24,24,"69, 70, 71","Lim Chu Kang, Tengah"
25,25,"72, 73","Kranji, Woodgrove, Woodlands"
26,26,"77, 78","Upper Thomson, Springleaf"
27,27,"75, 76","Yishun, Sembawang"
28,28,"79, 80",Seletar

In [28]:
dfNeigh.to_csv('singaporePostalCode.csv', index=False)

In [29]:
# dfCombined.rename_axis("Postal Code", axis='index', inplace=True)
# dfCombined.head()

In [30]:
# dfCombined.to_csv('singaporePostalCode.csv', index=False)

In [31]:
# Get the location from the csv file
# SgpCoor = 'https://cocl.us/Geospatial_data'
# !wget -q -O 'singaporeCoor.csv' SgpCoor
dfSingapore = pd.read_csv('singaporeCoor.csv').set_index("Postal Code")
dfSingapore.head(10)

,Borough,Neighbourhood,Latitude,Longitude
Postal Code,,,,
1,"01, 02, 03, 04, 05, 06","Raffles Place, Cecil, Marina, People's Park",1.285495,103.850328
2,"07, 08","Anson, Tanjong Pagar",1.276742,103.846673
3,"14, 15, 16","Bukit Merah, Queenstown, Tiong Bahru",1.274279,103.815424
4,"09, 10","Telok Blangah, Harbourfront",1.275670,103.805306
5,"11, 12, 13","Pasir Panjang, Hong Leong Garden, Clementi New...",1.313676,103.766229
6,17,"High Street, Beach Road (part)",1.302047,103.861548
7,"18, 19","Middle Road, Golden Mile",1.299749,103.858188
8,"20, 21","Little India, Farrer Park, Jalan Besar, Lavender",1.304957,103.854093
9,"22, 23","Orchard, Cairnhill, River Valley",1.300759,103.831382
10,"24, 25, 26, 27","Ardmore, Bukit Timah, Holland Road, Tanglin",1.334203,103.782084

In [32]:
# dfSingapore = pd.read_csv("SingaporeWithCoor.csv").set_index("Borough")
# dfSingapore = pd.read_csv(r"SingaporeWithCoor.csv")
# dfSingapore.head()

In [33]:
print('The dataframe has {} boroughs and {} neighborhoods.'.format(
        len(dfSingapore['Borough'].unique()),
        dfSingapore.shape[0]
    )
)

The dataframe has 28 boroughs and 28 neighborhoods.

In [34]:
# Get the Singapore latitude and longitude
address = 'Singapore, Singapore'

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Singapore are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Singapore are 1.3408528, 103.878446863736.

In [35]:
# create map of Singapore using latitude and longitude values
map_Singapore = folium.Map(location=[latitude, longitude], zoom_start=11)

# add markers to map
for lat, lng, borough, dfSingapore in zip(dfSingapore['Latitude'], dfSingapore['Longitude'], dfSingapore['Borough'], dfSingapore['Neighbourhood']):
    label = '{}, {}'.format(dfSingapore, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_Singapore)  
    
map_Singapore

- For this task, I will just reduce the our target analysis to Neighbohoods in East,West and Central Singapore only. Lets just take portion of dataframe where Boroughs contain word Singapore.

In [36]:
# dfSingapore = pd.read_csv("SingaporeWithCoor.csv").set_index("Borough")
# dfSingapore = pd.read_csv(r"SingaporeWithCoor.csv")
# dfSingapore.head()

In [37]:
# dfSGP = dfSingapore[dfSingapore['Neighbourhood'].str.contains('Seletar')].reset_index(drop=True)
# dfSGP.head()

In [40]:
# Get the Singapore latitude and longitude
address = 'Singapore, Singapore'

geolocaSGP = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Singapore are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Singapore are 1.3408528, 103.878446863736.

In [41]:
# create map of Singapore using latitude and longitude values
map_Singapore = folium.Map(location=[latitude, longitude], zoom_start=11)

# add markers to map
for lat, lng, borough, dfSingapore in zip(dfSingapore['Latitude'], dfSingapore['Longitude'], dfSingapore['Borough'], dfSingapore['Neighbourhood']):
    label = '{}, {}'.format(dfSingapore, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_Singapore)  
    
map_Singapore

TypeError: string indices must be integers

### Define Foursquare Credentials and Version

In [44]:
CLIENT_ID = 'AD1LGMPNUFZ1S1ZQEWBQZFB1RDJ4XGWOGPIHZLJAZFHH31OP' # your Foursquare ID
CLIENT_SECRET = 'OGGOSAT5W1G5WOGKPNRLQJD4S5JUPRUV0WK24MALHZ2AKBLR' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: AD1LGMPNUFZ1S1ZQEWBQZFB1RDJ4XGWOGPIHZLJAZFHH31OP
CLIENT_SECRET:OGGOSAT5W1G5WOGKPNRLQJD4S5JUPRUV0WK24MALHZ2AKBLR

### Let's explore the first neighborhood in our dataframe

In [45]:
# Get the neighbourhood's name
dfSingapore.loc[0, 'Neighbourhood']

AttributeError: 'str' object has no attribute 'loc'

In [49]:
# Get the neighborhood's latitude and longitude values.
neighbourhood_latitude = dfSingapore.loc[0, 'Latitude'] # neighborhood latitude value
neighbourhood_longitude = dfSingapore.loc[0, 'Longitude'] # neighborhood longitude value

neighbourhood_name = dfSingapore.loc[0, 'Neighbourhood'] # neighborhood name

print('Latitude and longitude values of {} are {}, {}.'.format(neighbourhood_name, 
                                                               neighbourhood_latitude, 
                                                               neighbourhood_longitude))

AttributeError: 'str' object has no attribute 'loc'

### Now, let's get the top 100 venues that are in the Beaches within a radius of 500 meters.

In [50]:
LIMIT = 100  # limit of number of venues returned by Foursquare API
radius = 500 # define radius

# create URL
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighbourhood_latitude, 
    neighbourhood_longitude, 
    radius, 
    LIMIT)
url # display URL

NameError: name 'neighbourhood_latitude' is not defined

In [51]:
# Send the GET request and examine the results
results = requests.get(url).json()
results

NameError: name 'url' is not defined

### All the information is in the items key. Let's borrow the get_category_type function from the Foursquare lab.

In [52]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

### Now we are ready to clean the json and structure it into a pandas dataframe.

In [53]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

NameError: name 'results' is not defined

In [54]:
print('{} venues were returned by Foursquare.'.format(nearby_venues.shape[0]))

NameError: name 'nearby_venues' is not defined

# 2. Explore Neighbourhoods in Singapore
### Let's create a function to repeat the same process to all the neighbourhoods in Singapore

In [55]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighbourhood', 
                  'Neighbourhood Latitude', 
                  'Neighbourhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

#### Now write the code to run the above function on each neighbourhood and create a new dataframe called *SingaporeVenues*.

In [56]:
SingaporeVenues = getNearbyVenues(names=dfSGP['Neighbourhood'],
                                   latitudes=dfSGP['Latitude'],
                                   longitudes=dfSGP['Longitude']
                                  )

NameError: name 'dfSGP' is not defined

### Let's check the size of the resulting dataframe

In [57]:
print(SingaporeVenues.shape)
SingaporeVenues.head()

NameError: name 'SingaporeVenues' is not defined

In [58]:
SingaporeVenues.groupby('Neighbourhood').count()

NameError: name 'SingaporeVenues' is not defined

#### Let's find out how many unique categories can be curated from all the returned venues

In [59]:
print('There are {} uniques categories.'.format(len(SingaporeVenues['Venue Category'].unique())))

NameError: name 'SingaporeVenues' is not defined

## 3. Analyze Each Neighborhood

In [60]:
# one hot encoding
Singapore_onehot = pd.get_dummies(SingaporeVenues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
Singapore_onehot['Neighbourhood'] = SingaporeVenues['Neighbourhood'] 

# move neighborhood column to the first column
fixed_columns = [Singapore_onehot.columns[-1]] + list(Singapore_onehot.columns[:-1])
Singapore_onehot = Singapore_onehot[fixed_columns]

Singapore_onehot.head()

NameError: name 'SingaporeVenues' is not defined

### And let's examine the new dataframe size.

In [61]:
Singapore_onehot.shape

NameError: name 'Singapore_onehot' is not defined

#### Next, let's group rows by neighborhood and by taking the mean of the frequency of occurrence of each category

In [62]:
Singapore_grouped = Singapore_onehot.groupby('Neighbourhood').mean().reset_index()
Singapore_grouped

NameError: name 'Singapore_onehot' is not defined

In [32]:
# Let's confirm the new size
Singapore_grouped.shape

(38, 237)

#### Let's print each neighborhood along with the top 5 most common venues

In [33]:
num_top_venues = 5

for hood in Singapore_grouped['Neighbourhood']:
    print("----"+hood+"----")
    temp = Singapore_grouped[Singapore_grouped['Neighbourhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Adelaide,King,Richmond----
             venue  freq
0      Coffee Shop  0.07
1             Café  0.05
2              Bar  0.04
3       Steakhouse  0.04
4  Thai Restaurant  0.04


----Berczy Park----
                venue  freq
0         Coffee Shop  0.11
1        Cocktail Bar  0.05
2              Bakery  0.05
3  Seafood Restaurant  0.04
4      Farmers Market  0.04


----Brockton,Exhibition Place,Parkdale Village----
            venue  freq
0     Coffee Shop  0.09
1  Breakfast Spot  0.09
2            Café  0.09
3             Gym  0.05
4         Stadium  0.05


----Business Reply Mail Processing Centre 969 Eastern----
                venue  freq
0          Smoke Shop  0.07
1          Restaurant  0.07
2  Light Rail Station  0.07
3              Garden  0.07
4             Brewery  0.07


----CN Tower,Bathurst Quay,Island airport,Harbourfront West,King and Spadina,Railway Lands,South Niagara----
                venue  freq
0     Airport Service  0.19
1      Airport Lounge  0.12
2    Airport Terminal  0.12
3            Boutique  0.06
4  Airport Food Court  0.06


----Cabbagetown,St. James Town----
                venue  freq
0         Coffee Shop  0.07
1  Italian Restaurant  0.05
2         Pizza Place  0.05
3                 Pub  0.05
4                Park  0.05


----Central Bay Street----
                venue  freq
0         Coffee Shop  0.14
1                Café  0.06
2      Ice Cream Shop  0.05
3  Italian Restaurant  0.05
4        Burger Joint  0.03


----Chinatown,Grange Park,Kensington Market----
                           venue  freq
0                           Café  0.08
1  Vegetarian / Vegan Restaurant  0.06
2             Chinese Restaurant  0.05
3                         Bakery  0.04
4             Mexican Restaurant  0.04


----Christie----
           venue  freq
0  Grocery Store  0.20
1           Café  0.20
2           Park  0.13
3      Nightclub  0.07
4          Diner  0.07


----Church and Wellesley----
                 venue  freq
0          Coffee Shop  0.07
1  Japanese Restaurant  0.06
2              Gay Bar  0.05
3     Sushi Restaurant  0.05
4           Restaurant  0.04


----Commerce Court,Victoria Hotel----
                 venue  freq
0          Coffee Shop  0.09
1                 Café  0.06
2                Hotel  0.06
3           Restaurant  0.04
4  American Restaurant  0.04


----Davisville----
              venue  freq
0      Dessert Shop  0.08
1       Pizza Place  0.08
2    Sandwich Place  0.08
3  Sushi Restaurant  0.06
4       Coffee Shop  0.06


----Davisville North----
            venue  freq
0  Breakfast Spot  0.12
1            Park  0.12
2  Sandwich Place  0.12
3  Clothing Store  0.12
4             Gym  0.12


----Deer Park,Forest Hill SE,Rathnelly,South Hill,Summerhill West----
         venue  freq
0          Pub  0.13
1  Coffee Shop  0.13
2   Sports Bar  0.07
3   Bagel Shop  0.07
4   Restaurant  0.07


----Design Exchange,Toronto Dominion Centre----
                venue  freq
0         Coffee Shop  0.14
1                Café  0.08
2               Hotel  0.06
3          Restaurant  0.04
4  Italian Restaurant  0.04


----Dovercourt Village,Dufferin----
         venue  freq
0       Bakery  0.10
1     Pharmacy  0.10
2  Supermarket  0.10
3         Bank  0.05
4      Brewery  0.05


----First Canadian Place,Underground city----
         venue  freq
0  Coffee Shop  0.09
1         Café  0.07
2   Restaurant  0.04
3        Hotel  0.04
4   Steakhouse  0.04


----Forest Hill North,Forest Hill West----
               venue  freq
0      Jewelry Store  0.25
1   Sushi Restaurant  0.25
2           Bus Line  0.25
3              Trail  0.25
4  Afghan Restaurant  0.00


----Harbord,University of Toronto----
                 venue  freq
0                 Café  0.09
1           Restaurant  0.06
2               Bakery  0.06
3            Bookstore  0.06
4  Japanese Restaurant  0.06


----Harbourfront East,Toronto Islands,Union Station----
                venue  freq
0         Coffee Shop  0.11
1               Hotel  0.05
2            Aquarium  0.05
3  Italian Restaurant  0.04
4                Café  0.04


----Harbourfront,Regent Park----
         venue  freq
0  Coffee Shop  0.18
1         Café  0.06
2         Park  0.06
3          Pub  0.06
4       Bakery  0.06


----High Park,The Junction South----
                 venue  freq
0                  Bar  0.09
1   Mexican Restaurant  0.09
2                 Café  0.09
3  Fried Chicken Joint  0.05
4  Arts & Crafts Store  0.05


----Lawrence Park----
               venue  freq
0               Park  0.25
1        Swim School  0.25
2           Bus Line  0.25
3               Lake  0.25
4  Afghan Restaurant  0.00


----Little Portugal,Trinity----
              venue  freq
0               Bar  0.11
1       Coffee Shop  0.06
2  Asian Restaurant  0.05
3              Café  0.03
4            Bakery  0.03


----Moore Park,Summerhill East----
         venue  freq
0   Playground  0.25
1   Restaurant  0.25
2         Park  0.25
3        Trail  0.25
4  Music Venue  0.00


----North Toronto West----
                 venue  freq
0       Clothing Store  0.16
1  Sporting Goods Shop  0.11
2          Coffee Shop  0.11
3          Yoga Studio  0.05
4  Rental Car Location  0.05


----Parkdale,Roncesvalles----
              venue  freq
0    Breakfast Spot  0.13
1         Gift Shop  0.13
2           Dog Run  0.07
3  Cuban Restaurant  0.07
4         Bookstore  0.07


----Rosedale----
        venue  freq
0        Park   0.4
1  Playground   0.2
2    Building   0.2
3       Trail   0.2
4   Nightclub   0.0


----Roselawn----
                       venue  freq
0             Ice Cream Shop   0.5
1                     Garden   0.5
2          Afghan Restaurant   0.0
3                  Nightclub   0.0
4  Middle Eastern Restaurant   0.0


----Runnymede,Swansea----
                venue  freq
0                Café  0.08
1         Pizza Place  0.08
2         Coffee Shop  0.08
3  Italian Restaurant  0.05
4    Sushi Restaurant  0.05


----Ryerson,Garden District----
                       venue  freq
0                Coffee Shop  0.09
1             Clothing Store  0.06
2             Cosmetics Shop  0.04
3  Middle Eastern Restaurant  0.03
4       Fast Food Restaurant  0.03


----St. James Town----
                venue  freq
0         Coffee Shop  0.07
1          Restaurant  0.05
2                Café  0.05
3               Hotel  0.05
4  Italian Restaurant  0.04


----Stn A PO Boxes 25 The Esplanade----
                  venue  freq
0           Coffee Shop  0.09
1                  Café  0.04
2            Restaurant  0.04
3  Fast Food Restaurant  0.03
4              Beer Bar  0.03


----Studio District----
                 venue  freq
0                 Café  0.10
1          Coffee Shop  0.07
2               Bakery  0.05
3   Italian Restaurant  0.05
4  American Restaurant  0.05


----The Annex,North Midtown,Yorkville----
            venue  freq
0     Coffee Shop  0.13
1  Sandwich Place  0.13
2            Café  0.13
3     Pizza Place  0.09
4  History Museum  0.04


----The Beaches----
               venue  freq
0        Coffee Shop  0.17
1       Neighborhood  0.17
2  Health Food Store  0.17
3                Pub  0.17
4               Park  0.17


----The Beaches West,India Bazaar----
               venue  freq
0     Sandwich Place  0.10
1  Food & Drink Shop  0.05
2       Burger Joint  0.05
3      Burrito Place  0.05
4        Pizza Place  0.05


----The Danforth West,Riverdale----
                    venue  freq
0        Greek Restaurant  0.21
1             Coffee Shop  0.10
2          Ice Cream Shop  0.07
3      Italian Restaurant  0.07
4  Furniture / Home Store  0.05

#### Let's put that into a *pandas* dataframe

In [34]:
# First, let's write a function to sort the venues in descending order.
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

#### Now let's create the new dataframe and display the top 10 venues for each neighborhood.

In [35]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighbourhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighbourhoods_venues_sorted = pd.DataFrame(columns=columns)
neighbourhoods_venues_sorted['Neighbourhood'] = Singapore_grouped['Neighbourhood']

for ind in np.arange(Singapore_grouped.shape[0]):
    neighbourhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(Singapore_grouped.iloc[ind, :], num_top_venues)

neighbourhoods_venues_sorted.head()

,Neighbourhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,"Adelaide,King,Richmond",Coffee Shop,Café,Steakhouse,Thai Restaurant,Bar,American Restaurant,Gym,Breakfast Spot,Asian Restaurant,Burger Joint
1,Berczy Park,Coffee Shop,Cocktail Bar,Bakery,Steakhouse,Cheese Shop,Farmers Market,Café,Seafood Restaurant,Beer Bar,Restaurant
2,"Brockton,Exhibition Place,Parkdale Village",Breakfast Spot,Café,Coffee Shop,Climbing Gym,Falafel Restaurant,Convenience Store,Burrito Place,Stadium,Caribbean Restaurant,Bar
3,Business Reply Mail Processing Centre 969 Eastern,Pizza Place,Auto Workshop,Garden Center,Garden,Light Rail Station,Fast Food Restaurant,Farmers Market,Park,Comic Shop,Restaurant
4,"CN Tower,Bathurst Quay,Island airport,Harbourf...",Airport Service,Airport Lounge,Airport Terminal,Boutique,Coffee Shop,Airport,Airport Food Court,Airport Gate,Harbor / Marina,Bar